.px-32 {
  padding: 0 32px;
  padding-bottom: 30px;
}
.btn btn-primary {
  padding-top: 30px;
}
.badge {
  color: red;
}
.h2 {
  color: red;
}
/* .btn-success {
  text-align: center;
} */
.text {
  color: white;
}

/* 
 */
/* .container-notif {
  z-index: 2 !important;
  width: 400px;
  height: 150px;
  position: absolute;
  top: 40% !important;
  left: 50%;
  margin: -50px 0 0 -100px;
  background-color: #c4def6;
  top: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} */
