.input-search-wrapper {
  height: 44px;
  border: 1px solid #f0f1f3;
  border-radius: 4px;
  width: 400px;
  padding: 16px 8px;
}

.notification-container {
  width: 400px;
  max-height: 400px;
  right: 60px;
  top: 70px;
}

.ic-caret-up {
  top: 72px;
  right: 73px;
  color: #dee2e6;
}

@media only screen and (max-width: 595px) {
  .input-search-wrapper {
    width: 100%;
  }
  /* .d-none-mobile {
    display: none;
  }

  .fa-bars {
    display: block !important;
  } */
}
