body,
p,
span {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

input {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.color-009ED8 {
  color: #009ed8;
}

.color-667085 {
  color: #667085;
}

.color-F0F1F3 {
  background-color: #f0f1f3;
}

.color-4059F2 {
  background-color: #4059f2;
}

.color-12D267 {
  background-color: #12d267;
}

.color-EBBE10 {
  background-color: #ebbe10;
}

.color-E99E11 {
  background-color: #e99e11;
}

.color-E90F11 {
  background-color: #e90f11;
}

.color-EA1293 {
  background-color: #ea1293;
}

.color-CC10EA {
  background-color: #cc10ea;
}

.color-5A11EA {
  background-color: #5a11ea;
}

.color-489FBD {
  background-color: #489fbd;
}

.color-0BBB90 {
  background-color: #0bbb90;
}

.color-3F90F7 {
  background-color: #3f90f7;
}

.text-grey {
  color: #49505e;
}

.color-5D6679 {
  color: #5d6679;
}

.border-light-red {
  border: 2px solid #eeeeee;
}

.border-horizontal-light-red {
  border-left: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
}

.border-end-light-red {
  border-right: 2px solid #eeeeee;
}

.text-orange {
  color: #f79009;
}

/* @media only screen and (max-width: 595px) {...} */

/* Small screen devices (600px and above) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium screen devices (768px and above) */
/* @media only screen and (min-width: 768px) {...} */

/* Big screen devices (889px and above) */
/* @media only screen and (min-width: 889px) {...} */

/* Extra big screen devices (1200px and above) */
/* @media only screen and (min-width: 1200px) {...} */
